/*------- stile generale della pagina ------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}

/*------- sezione header scarpe ------*/
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

/*------- sezione pulsanti di navigazione scarpe ------*/
nav {
    position: absolute;
    top: 20px;
    right: 10px;
}
nav ul li {
    margin-left: 20px;
    display: inline-block;
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
}
ul li a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 24px;
    color: black;
}

/*------- sezione sfondo scarpe ------*/
#shoe1 ,#shoe2 ,#shoe3 {
    height: 100vh;
    position: relative;
}
#shoe1 {
    background-color: red;
}
#shoe2 {
    background-color: green;
}
#shoe3 {
    background-color: yellow;
}

/*------- sezione scarpe ------*/
section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
}
.one  {
    padding: 0 10%;
    width: 100%;
}
#shoe1 h2 ,#shoe2 h2 {
    color: yellow;
}
#shoe3 h2 {
    color: green;
}


